name: Build and Publish to PyPI
on:
  release:
    types: [published]
permissions:
  contents: read
jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # to fetch all history for all branches and tags; required because we derive app version from latest tag
          fetch-tags: true
      - name: Install uv
        uses: astral-sh/setup-uv@v3  # dont specify version, use latest stable version
      - name: Install dependencies
        run: |
          uv sync
      - name: Set env PATH
        run: echo "PATH="$(pwd)/.venv/bin:$PATH"" >> $GITHUB_ENV
      - name: Set env PROJ_DIR
        run: echo "PROJ_DIR="$(pwd)/.venv/lib/python${PYTHON_VERSION}/site-packages/pyproj/proj_dir/share/proj"" >> $GITHUB_ENV
      - name: Build package
        run: uv build --wheel
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
